@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code";
  src: url("/static/fonts/CascadiaCode.woff2") format("woff2");
}

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h2 {
  @apply text-3xl tracking-tighter mb-3 lg:text-3xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  padding: 0.3em;
  @apply bg-gray-800 text-gray-200;
}
